.img{
    display: flex;
    justify-content: flex-end;
    background-image: url("./background.png");
    background-size: cover;
    height: 100vh;
}

.btnLog{
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552F;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.inputLog{
    border-radius: 18px;
    width: 238px;
    height: 31px;
    border: 1px solid gray;
    padding-left: 12px;
    padding-top: 4px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.logBox{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 20px;
    padding: 5px;
}

