/* *{margin:0; padding:0} */

.input-name, .input-number{
    border-radius: 18px;
    width: 238px;
    height: 31px;
    border: 1px solid gray;
    padding-left: 12px;
    padding-top: 4px;
    margin-top: 10px
}

.top-page{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}