.cardBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding: 10px;
    
}

.header{
    width: 100%;
    height: 60px;
    background: #da552f;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 5px;
    margin: 2vw;
    background: #da552f;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border-radius: 20px;
    
}


.btn-status , .btn-status2{
    padding: 5px;
    background:#b8c007;
    border-radius: 10px;
    border-color:#da552f;
    color: #5A200f;
    font-weight: bold;
    display: flex;
}

.btn-status2{
    background:#74B248;
}