.cardBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding: 10px;
    
}

.container{
    padding: 5px;
    margin: 2vw;
    background: #da552f;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border-radius: 20px;
}


.btn-status{
    padding: 5px;
    background: green;
    color: #fff;
    display: flex;
}